In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("sample.csv")

In [3]:
dataset

    S.No  YearExperience  Salary
0      1             1.1  578933
1      2             1.3   48604
2      3             1.5   58857
3      4             2.0  625362
4      5             2.2  685064
5      6             2.9  509694
6      7             3.0  948984
7      8             3.2  454959
8      9             3.2  958503
9     10             3.7  538532
10    11             3.9  859684
11    12             4.0   56948
12    13             4.0  553895
13    14             4.1  293245
14    15             4.5  589380
15    16             4.9  442490
16    17             5.1   23323
17    18             5.3  484343
18    19             5.9   43438
19    20             6.0  845745
20    21             6.8  499933
21    22             7.1   58888
22    23             7.9   58994
23    24             8.2  875392
24    25             8.7  457505
25    26             9.0  986900
26    27             9.5  563325
27    28             9.6  733784
28    29            10.3  122391
29    30            10.5  121872

In [6]:
independent=dataset[["YearExperience"]]
independent

    YearExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2
9              3.7
10             3.9
11             4.0
12             4.0
13             4.1
14             4.5
15             4.9
16             5.1
17             5.3
18             5.9
19             6.0
20             6.8
21             7.1
22             7.9
23             8.2
24             8.7
25             9.0
26             9.5
27             9.6
28            10.3
29            10.5

In [7]:
dependent=dataset[["Salary"]]
dependent

    Salary
0   578933
1    48604
2    58857
3   625362
4   685064
5   509694
6   948984
7   454959
8   958503
9   538532
10  859684
11   56948
12  553895
13  293245
14  589380
15  442490
16   23323
17  484343
18   43438
19  845745
20  499933
21   58888
22   58994
23  875392
24  457505
25  986900
26  563325
27  733784
28  122391
29  121872

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [13]:
weight=regressor.coef_
weight

array([[-18834.09281489]])

In [14]:
bais=regressor.intercept_
bais

array([589494.26254886])

In [15]:
y_pred=regressor.predict(x_test)

In [17]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score

-0.2197316135896885